body{
    background-color: rgb(254, 242, 228);
}
.main-header-container{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}


.picture{
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    
}
.main-logo{
    display: flex;
    justify-content: start;
    /* width: 1000px; */
    height: 40px;
    margin-right: 17%;
    
}
.main-header-nav{
    margin-right: 25%;
    display: flex;
    box-sizing: inherit;
}
.main-header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
  }
  
.main-header-nav-menu-item {
    float: left;
  }
.main-header-nav-menu-item:hover{
    background-color: black;
    transition: .8s;
  }
.main-header-nav-menu-link:hover{
    color: rgb(254, 242, 228);
    transition: .9s;
  }
li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

.main-content{
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    margin: 5px 35px 5px;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 30px 0 50px;
    }

button{
    background-color: rgba(243, 34, 7, 0.973);
    color: aliceblue;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}

button:hover{
    background-color: rgb(216, 8, 8);
    transition: .5s;
}
.ftr{
    height: 40px;
    background-color: rgb(1, 20, 82);
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

h3{
    
}