.main-header-container{
    display: flex;
    justify-content: center;
}


.picture{
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
}
.main-logo{
    display: flex;
    justify-content: flex-start;
    width: 175px;
    height: 100px;
}

.main-header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
  }
  

 .main-header-nav-menu-item {
    float: left;
  }
  .main-header-nav-menu-item:hover{
    background-color: black;
    transition: .5s;
  }
  .main-header-nav-menu-link:hover{
    color: white;
    transition: .5s;
  }
  li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

.main-content{
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    }

button{
    background-color: rgba(243, 34, 7, 0.973);
    color: aliceblue;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
button:hover{
    background-color: rgb(216, 8, 8);
    transition: .5s;
}
