.body{
    background-color:#030303;
}

.main-header-logo {
   
}

.main-header-logo-img{
    margin: 1%;
}
.main-header-menu-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
    /* align-content: center; */

    color: beige;

}
