.body {
    background-color: #030303;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   /*  gap: 2em; */
}
span{
    color: red;
    /*margin-top: 25px;*/
    
    
}

.box {
    display: flex;
    height: 200px;
    width: 200px;
    border: solid grey;
    background-color : bisque;
    justify-content: center;
    align-items: center;

}
.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.menu-box{
    height: 50px;
    width: 225px;
    background-color: green;
    border-radius: 100px;
        }

.middle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.lbox {
    height: 300px;
    width: 450px;
    background-color: aqua;
    display: flex;
    justify-content: center;

}