.body {
    background-color: rgb(1, 8, 48);
}
.box1 {
    height: 200px;
    width: 200px;
    border: solid grey;
    background-color : bisque;
    border-radius: 15%;
    position: absolute;
    left: 5%;
    top: 5%;
}